@charset "utf8";

/** General **/

a:link, a:visited {
	color: rgb(170, 170, 170);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: rgb(100, 100, 100);
	text-decoration: none;
}

body {
	background-color: rgb(179, 214, 214);
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
}

#bodytotal {
	padding: 20px 0px 0px;
}

/** Header **/

header {
	background: url("header.png") repeat-x scroll center top rgb(0, 0, 0);
	background-color: rgb(200, 200, 224);
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 5px 5px 0px 0px;
	min-height: 45px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgb(147, 176, 176);
	border-left: 1px solid rgb(147, 176, 176);
	border-right: 1px solid rgb(147, 176, 176);
}

#nav {
	letter-spacing: 0.2px;
	padding: 0px 50px;
	margin: 6px;
	float: left;
	display: block
	color: rgb(104, 104, 104);
}

#nav a {
	color: rgb(84, 84, 84);
}

/** Colonne **/

#colonne {
	width: 150px;
	text-align: left;
	vertical-align: top;
	color: rgb(50, 50, 50);
	font-size: 12pt;
	padding: 0px;
	margin: 0px;
}

.menubordure {
	background-color: rgb(161, 193, 193);
	padding: 5px;
	margin: 0px 0px 20px;
	width: 140px;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 1px 1px 0px rgb(147, 176, 176) inset;
	border-top: 1px solid rgb(147, 176, 176);
	border-bottom: 1px solid rgb(196, 237, 237);
}

#colonne dt {
	text-align: center;
	font-weight:bold;
	padding: 0px 0px 2px 0px;
}

#colonne dd {
	margin: 0px;
	text-align: center;
	background-color: rgb(35, 43, 43);
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(39, 46, 46);
	border-radius: 0px 5px 5px 0px;
	color: rgb(240, 240, 240);
}

#colonne ul {
	list-style: none outside none;
	background-color: rgb(45, 53, 53);
	margin: 0px 0px 0px 10px;
	padding: 0px;
	border-radius: 0px 5px 5px 0px;
}

#colonne a:link, #colonne a:visited{
	display:block;
	border-radius: 0px 5px 5px 0px;
	font-weight:bold;
	color:rgb(220, 220, 220);
	background-color: rgb(45, 53, 53);
	text-align:left;
	padding: 4px 10px;
	text-decoration:none;
}

#colonne a:hover, #colonne a:focus, #colonne a:active {
	background-color: rgb(65, 73, 73);
}

/** Page centrale **/

#mainbordure {
	background-color: rgb(161, 193, 193);
	margin: 0px 0px 0px 20px;
	display:block;
	list-style: none outside none;
	padding: 5px;
	border-radius: 5px 0px 0px 5px;
	min-height: 50px;
	box-shadow: 1px 1px 1px 0px rgb(147, 176, 176) inset;
	border-top: 1px solid rgb(147, 176, 176);
	border-bottom: 1px solid rgb(196, 237, 237);
}

#mainframe {
	color: #333333;
	margin: 0px;
	padding: 10px 20px;
	background-color: rgb(240, 240, 240);;
	border-radius: 5px 0px 0px 5px;
	display: table;
	min-width: 933px;
}

#mainframe h1 {
	text-align: center;
}

.mysqlTable {
	background-color: rgb(230, 230, 230);;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border:1;
	padding-top:1px;
	padding-left:1px;
	border-radius: 5px;
	border-bottom:1px solid rgb(255, 255, 255);
	border-right:1px solid rgb(210, 210, 210);
	box-shadow: 1px 1px 1px 0px rgb(147, 176, 176) inset;
}

.mysqlTable th, .mysqlTable td{
	font-size:0.9em;
	border:1px solid #2EB8E6;
	padding:3px 7px 2px 7px;
	border-radius: 3px;
}

.mysqlTable th 
{
	font-size:0.9em;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#5CB8E6;
	color:#ffffff;
}
.mysqlTable td 
{
	background-color:#EDFFFF;
}
.mysqlTable tr.alt td 
{
	background-color:#DBFFFF;
}

